pip install python==3.8.8
pip install tensorflow==2.6.0
pip install keras==2.6.0
pip install numpy==1.19.5
pip install pandas==1.3.3
pip install scikit-learn
pip install efficientnet==1.1.1
pip install tensorflow_addons==0.13.0
pip install opencv-python==4.5.4-dev
pip install uuid
pip install Pillow
pip install pyautogui==0.9.53
pip install mediapipe
pip install pynput